@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="">
    登录Id：<input type="text" value="" id="txtLoginId" /><br />
    密码：<input type="password" value="" id="txtPassword" /><br />
    <button type="button" onclick="login()">登录</button>
</div>
<script language="javascript">
    var login = function () {
        $.ajax({
            type: "Post",
            url: "http://192.168.3.119:5000/Authentication/login",
            data: JSON.stringify({
                UserLoginId: "string",
                Password:"string"
            }),
            contentType: "application/json; charset=utf-8",
            xhrFields: {
                withCredentials: false
            },
            crossDomain: true,
            async: true,
            success: function (message) {
                alert(message)
            }
        });
    };
</script>

