@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="">
    登录Id：<input type="text" value="" id="txtLoginId" /><br />
    密码：<input type="password" value="" id="txtPassword" /><br />
    <button type="button" onclick="login()">登录</button>
</div>
<script language="javascript">
    var login = function () {
        alert('');
        var userLoginId = $("txtLoginId").val();
        var password = $("txtPassword").val();
        }

    $.ajax({
        type: "post",
        url: "http://localhost:5000/login",
        data: JSON.stringify(data),
        contentType: "application/json",
        async: true,
        success: function () {

        }
    });
</script>

